body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("images/forest.png");
    background-size: cover;
    background-position: center;
}

img {
    width: 3.125rem; /*50/16 = 3.125*/
    height: 3.125rem; 
}

div {
    margin-top: 50px;
}

.card {
    background-color: #32533D;
    color:#EBF2FA;
    width: 500px;
    height: 750px;
    text-align:center;
    margin: 20px auto;
    padding: 100px 0;
}

.profile-pic {
    border-radius: 300px;
    width: 300px;
    height: 300px;
}

.contacts {
    display:flex;
    justify-content: space-evenly;
}

